/*
==========================================================================
                            Hubspot CSS
==========================================================================
*/

.hs-form label {
  color: #fff;
}
.hs-form .hs-form-field > label {
  color: #fff;
  font-weight: bold;
}

form label {
  color: #fff !important;
}

/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"],
.hs-form input[type="datetime"],
.hs-form input[type="datetime-local"],
.hs-form input[type="date"],
.hs-form input[type="month"],
.hs-form input[type="time"],
.hs-form input[type="week"],
.hs-form input[type="number"],
.hs-form input[type="email"],
.hs-form input[type="url"],
.hs-form input[type="search"],
.hs-form input[type="tel"],
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
  width: 100%;
  height: 42px;
  font-size: 18px;
  border: none;
  background: #ddf6f1;
  border-radius: 8px;
  display: block;
  padding: 0 10px;
  color: #333;
  margin-bottom: 3%;
}

.legal-consent-container {
  color: #fff;
}

.actions {
  text-align: center;
  margin-top: 40px;
}

.inputs-list {
  list-style: none;
}

.inputs-list li {
  margin: 25px 0 15px 0;
}

ul.no-list.hs-error-msgs.inputs-list {
  position: relative;
  top: -25px;
  font-style: italic;
}

.hs-richtext p { color: white !important; }
div#my-form p {
  color: white;
}
.submitted-message p {
  color: #fff;
    line-height: 2;
    font-size: 1.2em;
}

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 17px 25px;
  border-radius: 30px;
  font-weight: bold;
  background: #00a3ab;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease all;
  background-color: transparent;
  border: 2px solid #fff;
  height: 59px;
  min-width: 229px;
  margin: auto;
}
